*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(1, 6, 29);
}

.container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    gap: 10px;
    border-radius: 15px;
}

.container #board{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 30px;
    border: 1px solid black;

}

.container #board div{

    padding: 20px;
    border: 1px solid black;
    cursor: pointer;
}