*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 5, 42);
    font-family: Arial, sans-serif;
}

.container{

    background-color: white;
    width: 300px;
    padding: 30px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.followers{
    font-size: 14px;
    font-weight: bold;
}

.username{
    font-size: 20px;
    font-weight: bold;
}

#image img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}