*{

    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;  
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#wrapper{
    
    background-color: white;
    padding: 45px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 8px 15px;

}

#wrapper h1{

    text-align: center;
    margin-bottom: 20px;

}

label{

    display: block;
    margin-bottom: 5px;
}

input[type="text"]{
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

input[type="text"]:focus{
    outline: none;
    border-color: #007bff; 
}

input:focus{

    outline: none;
    border-color: #007bff; 
}

.form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form #subt{

    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.form #subt:hover{

    background-color: #22354a;
}


.resultParas #newGameButton{

    margin: 10px 0 0;
    width: 50%;
    padding: 10px;
    background-color: #1c1c1d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.resultParas #newGameButton:hover{

    background-color: #0f0f0f;
}