*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{

    height: 100vh;
    background-color: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{

    background-color: white;
    padding: 25px;
    width: 380px;
    border-radius: 8px;
    box-shadow: 0 8px 20px;

}

.container h1{

    text-align: center;
    margin-bottom: 20px;

}



form p{

    margin-bottom: 15px;
}

label{

    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

input:focus{

    outline: none;
    border-color: #007bff;
}

button{

    width: 50%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    
}

button:hover{

    background: #0056b3;

}

#weight-guide{

    margin-top: 20px;
}